<form action = "/articles/{{urlTitle}}?_method=PUT" method="POST">
  <input type="hidden"name="title" ><br>
  <h1>Title: <br></h1> <input type="text" name = "title" placeholder = {{title}}><br>
  <h2>Body: <br></h2> <input type="text" name = "body" placeholder = {{body}}><br>
  <h2>Author: <br></h2> <input type="text" name = "author" placeholder = {{author}}><br>
  <input type="submit" value = "submit">
</form>