<form action = "/products" method="POST">
  <h1>Name: <br></h1>
    <input type="text" name = "name">
  <h2>Price: <br></h2>
    <input type="text" name = "price">
  <h2>Inventory: <br></h2>
    <input type="text" name = "inventory">
  <input type="submit" value = "submit">
</form>